certifi==2018.1.18
Flask_SQLAlchemy==2.3.2
Cython==0.28.1
ipython==6.2.1
pyOpenSSL==17.5.0
backports.functools_lru_cache==1.5
blinker==1.4
com==1.0.0
ed25519ll==0.6
protobuf==3.5.2.post1
greenlet==0.4.13
ipaddr==2.2.0
java==0.0.1
keyring==12.0.0
libmc==1.1.0
lxml==4.6.3
python_memcached==1.59
ndg_httpsclient==0.4.4
nt==0.0.0
numpy==1.14.2
org==1.0.0
pretty==0.1
pyasn1==0.4.2
pylibmc==1.5.2
redis==2.10.6
simplejson==3.13.2
termcolor==1.1.0
usercustomize==1.0.0
uwsgi==2.0.17
watchdog==0.8.3
wincertstore==0.2
pyxdg==0.26
