{% extends "layout.html" %}
{% block title %}Login{% endblock %}
<body>
    {% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Chatty Kathy</a>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block messages %} {{ super() }} {% endblock %}
    {% block body %}
        <div class='container'>
        <form class="form-register" id='registerForm' name='registerForm' method="POST">
            <h1>This is THE Chatty Kathy!</h1>
            <h2>Sign In if you wish</h2>
            <label for="inputUsername" class='sr-only'>Username</label>
            <input type="text" id="inputUsername" name='username' class='form-control' placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name='password' class='form-control' placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="button" id="signUp">Sign Up</button>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign In</button>
        </form>
    </div>
    <script type='text/javascript'>
        document.getElementById('signUp').addEventListener('click', function() {
            window.location.href = 'create_user';
        });</script>
    {% endblock %}
</body>
</html>